<div class="container">
	<div class="row">
		<div class="col-12">
			<br>
			<h2 class="text-center" style="color:#6FFFE9;">Agrega un nuevo evento</h2>
			<br>
			<form name="evento" (ngSubmit)="f.form.valid && createEvento()" #f="ngForm" novalidate>
				<div class="form-group">
					<label for="eventoNombre" style="color:#6FFFE9;"><b>Nombre</b></label>
					<input type="text" name="eventoNombre" class="form-control" id="eventoNombre"
						[(ngModel)]="evento.nombre" #eventoNombre="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && eventoNombre.invalid }" required>
					<div class="invalid-feedback">
						<div>Debe definir el nombre del evento</div>
					</div>
				</div>

				<div class="form-group">
					<label for="eventoFechaInicio" style="color:#6FFFE9;"><b>Fecha inicio: </b></label>
					<div [ngClass]="{ 'is-invalid': f.submitted && eventoFechaInicio.invalid }">
						<input class="form-control" id="eventoFechaInicio" name="eventoFechaInicio"
							[(ngModel)]="evento.fechaInicio" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"
							#eventoFechaInicio="ngModel"
							[ngClass]="{'is-invalid': (eventoFechaInicio.untouched || eventoFechaInicio.invalid) }"
							required>
						<div class="invalid-feedback">
							<div style="color:#FFFF;">Debe definir una fecha de inicio</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="eventoFechaFin" style="color:#6FFFE9;"><b>Fecha fin: </b></label>
					<div [ngClass]="{ 'is-invalid': f.submitted && eventoFechaFin.invalid }">
						<input class="form-control" id="eventoFechaFin" name="eventoFechaFin"
							[(ngModel)]="evento.fechaFin" ngbDatepicker #de="ngbDatepicker" (click)="de.toggle()"
							#eventoFechaFin="ngModel"
							[ngClass]="{'is-invalid': (eventoFechaFin.untouched || eventoFechaFin.invalid) }" required>
						<div class="invalid-feedback">
							<div style="color:#FFFF;">Debe definir una fecha de fin</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="eventoDescripcion" style="color:#6FFFE9;"><b>Descripción del evento</b></label>
					<textarea name="eventoDescripcion" class="form-control" id="eventoDescripcion"
						[(ngModel)]="evento.descripcion" #eventoDescripcion="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && eventoDescripcion.invalid }" required></textarea>
					<div class="invalid-feedback">
						<div>Debe definir la descripción del evento</div>
					</div>
				</div>
				<div class="form-group">
					<label for="eventoDetalles" style="color:#6FFFE9;"><b>Detalles adicionales</b></label>
					<input type="text" name="eventoDetalles" class="form-control" id="eventoDetalles"
						[(ngModel)]="evento.detallesAdicionales" #eventoDetalles="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && eventoDetalles.invalid }">
				</div>
				<div class="form-group">
					<label for="eventoEntradasRestantes" style="color:#6FFFE9;"><b>Cantidad de entradas al
							evento</b></label>
					<input type="text" name="eventoEntradasRestantes" class="form-control" id="eventoEntradasRestantes"
						[(ngModel)]="evento.entradasRestantes" #eventoEntradasRestantes="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && eventoEntradasRestantes.invalid }" required>
					<div class="invalid-feedback">
						<div>Debe definir la capacidad del evento</div>
					</div>
				</div>
				<div class="form-group">
					<label for="eventoValor" style="color:#6FFFE9;"><b>Valor del evento</b></label>
					<input type="text" name="eventoValor" class="form-control" id="eventoValor"
						[(ngModel)]="evento.valor" #eventoValor="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && eventoValor.invalid }" required>
					<div class="invalid-feedback">
						<div>Debe definir el precio de la entrada para el evento</div>
					</div>
				</div>
				<div class="form-group">
					<label for="eventoCategoria" style="color:#6FFFE9;"><b>Categoria del evento</b></label>
					<select class="custom-select" name="eventoCategoria" id="eventoCategoria"
						[(ngModel)]="evento.categoria" #eventoCategoria="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && eventoCategoria.invalid }" required>
						<option [value]="categoria" *ngFor="let categoria of categorias"> {{categoria}} </option>
					</select>
					<div class="invalid-feedback">
						<div>Debe elegir una categoría</div>
					</div>
				</div>
				<div class="form-group">
					<label for="eventoImagen" style="color:#6FFFE9;"><b>Imagen del evento</b></label>
					<input type="text" name="eventoImagen" class="form-control" id="eventoImagen"
						[(ngModel)]="evento.imagen" #eventoImagen="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && eventoImagen.invalid }" required>
					<div class="invalid-feedback">
						<div>Debe definir la imagen del evento</div>
					</div>
				</div>
				<br>
				<div class="row form-inline justify-content-center align-self-center">
					<button type="submit" class="btn btn-info">Create</button>
					&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
				</div>
			</form>
			<br>
		</div>
	</div>
</div>
<br>
<br>