<div class="container-fluid">
	<div class="col">
		<div class="card" style="width: 17rem;" *ngFor="let evento of eventos">
			<div class="card-body">
				<h5 class="card-title">{{evento.nombre}}</h5>
				<h6>{{evento.fechaInicio}}-{{evento.fechaFin}}</h6>
				<h6>Entradas restantes: {{evento.entradasRestantes}}</h6>
				<h6>Valor: {{evento.valor}} pesos</h6>
				<a class="btn btn-primary" [routerLink]="['/eventos', { outlets: { 'detail': [evento.id] } }]">Ver
					evento</a>
			</div>
		</div>
	</div>
</div>