<div class="container-fluid">
    <ul class="list-group list-group-flush" style="margin-left: 20px; margin-right: 20px">
        <table>
            <thead>
                <th>Tipo de tarjeta</th>
                <th>numero de tarjeta</th>
                <th>Fecha de expiracion</th>
                <th>cw</th>
            </thead>
            <tbody *ngFor="let t of tarjetas">
                <td>{{t.tipoTarjeta}}</td>
                <td>{{t.numeroTarjeta}}</td>
                <td>{{t.expiracion}}</td>
                <td>{{t.cvv}}</td>
            </tbody>
        </table>
    </ul>
</div>