<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <br>
            <h2 class="text-center" style="color:#6FFFE9;">Inicio de sesión</h2>
            <br>
            <form name="login" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="username" style="color:#6FFFE9;"><b>Username</b></label>
                    <input type="text" name="username" class="form-control" id="username" [(ngModel)]="credencial.login"
                        required>
                </div>
                <div class="form-group">
                    <label for="password" style="color:#6FFFE9;"><b>Contraseña</b></label>
                    <input type="password" name="pwd" class="form-control" id="password"
                        [(ngModel)]="credencial.password" required>
                </div>
                <div class="form-group">
                    <label for="role" style="color:#6FFFE9;"><b>Tipo de usuario</b></label>
                    <select class="custom-select" name="role" id="role" [(ngModel)]="user.tipo" required>
                        <option [value]="role" *ngFor="let role of roles">{{role}}</option>
                    </select>
                </div>
                <div class="row form-inline justify-content-center align-self-center">
                    <button type="submit" class="btn btn-info">Iniciar sesión</button>
                </div>
                &nbsp;
            </form>
        </div>
    </div>
</div>