<!--
	<div class="container" >
    <h1 class="display-100">EVENTOS <img src="https://image.flaticon.com/icons/svg/123/123392.svg" width="10%"></h1>
		<p class="lead">LES INDESTRUCTIBLES</p>
  </div>
-->

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Josefin+Sans|Lobster&display=swap" rel="stylesheet">
</head>
<body style="background-color: #0B132B;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="https://image.flaticon.com/icons/svg/2271/2271095.svg" width="40" height="40" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <!-- <a class="nav-link active" routerLink="eventos/list" routerLinkActive="active">Eventos</a>-->
          <button type="button" class="btn btn-outline-light" routerLink="/eventos/list"
            routerLinkActive="active">Eventos</button>
        </li>
        <li>
          <!--  <a class="nav-link active" routerLink="/eventos/add" routerLinkActive="active"> Crear eventos</a>-->
          <button type="button" class="btn btn-outline-light" routerLink="/eventos/add" routerLinkActive="active">Crear
            eventos</button>

        </li>
        <!--

        <li class="nav-item active">
          <a class="nav-link active" routerLink="patrocinios/list" routerLinkActive="active">Patrocinios</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" routerLink="usuarios/list" routerLinkActive="active">Usuarios</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" routerLink="memorias/list" routerLinkActive="active">Memorias</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" routerLink="medioDePago/list" routerLinkActive="active">Medios de Pago</a>
        </li>
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        -->
      </ul>
      <div *ngxPermissionsOnly="['CLIENTE', 'REP', 'RESP']">
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mi cuenta
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" routerLink="usuarios/{{darIdActual()}}/tarjetas">Medios de pago</a>
            <a class="dropdown-item" href="#" routerLink="usuarios/{{darIdActual()}}/pse">Agregar pse</a>
            <a class="dropdown-item" href="#" routerLink="usuarios/{{darIdActual()}}/tarjetasList">Mis medios de pago</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" (click) = "logout()">Cerrar sesión</a>
          </div>
        </div>
      </div>
      &nbsp; &nbsp;
      &nbsp;
      <div *ngxPermissionsOnly="[ 'ORG']">
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mi cuenta
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" routerLink="usuarios/{{darIdActual()}}/tarjetas">Medios de pago</a>
            <a class="dropdown-item" href="#" routerLink="usuarios/{{darIdActual()}}/pse">Agregar pse</a>
            <a class="dropdown-item" href="#" routerLink="usuarios/{{darIdActual()}}/tarjetasList">Mis medios de pago</a>
            <a class="dropdown-item" href="#" routerLink="actividades/list">Mis actividades evento</a>
            <a class="dropdown-item" href="#" routerLink="actividades/add">Agregar actividad evento</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" (click) = "logout()">Cerrar sesión</a>
          </div>
        </div>
      </div>
      &nbsp; &nbsp;
      &nbsp;
      <div *ngxPermissionsOnly="['INVITADO']">
        <button type="button" class="btn btn-outline-light"  routerLink="auth/login">Iniciar sesión</button>
        &nbsp; &nbsp;
        &nbsp;
        <button type="button" class="btn btn-outline-light" routerLink="auth/sign-up">Registrarse</button>
      </div>
      
    </div>
  </nav>
  <div class="container" style="background-color: #1c2541;">

    <router-outlet name="login"></router-outlet>
    &nbsp;
    &nbsp;
    <h2 style="color:rgb(255, 255, 255)" id="Elh2">
      L E S &nbsp; &nbsp; I N D E S T R U C T I B L E S
    </h2>
    &nbsp;
    &nbsp;
    <router-outlet>
    </router-outlet>
    <router-outlet name="detail"></router-outlet>

  </div>
</body>

<footer class="footer bg-light" id="footer">
  <div class="container">
      <p class="navbar-text text-center">
          <img src="../assets/uniandes.png" alt="logo" width="8%" /><span id="footer-text">©Desarrollo de Sw
              en Equipos </span>
          <a routerLink="/eventos">LesIndestructibles </a>
      </p>
  </div>
</footer>