<div class="container-fluid">
  <div class="col-md-2">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Memoria Place</th>
          <th>Memoria Date</th>
          <th>Memoria Evento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of memorias">
          <td>{{e.lugar}}</td>
          <td>{{e.fecha}}</td>
          <td>{{e.evento.nombre}}</td>
        </tr>
      </tbody>
    </table>
    <input type="button" value="Add memoria" (click)="createMemoria()">
  </div>
</div>