<div class="container-fluid">
  <div class="col-md-2">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Memoria Place</th>
          <th>Memoria Date</th>
          <th>Memoria Evento</th>
          <th>Memoria imagen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of memorias">
          <td style="color:#6FFFE9;">{{e.lugar}}</td>
          <td style="color:#6FFFE9;">{{e.fecha}}</td>
          <td style="color:#6FFFE9;">{{e.evento.nombre}}</td>
          <img class="card-img-top" src={{e.imagen}} alt="Card image cap" width="1800" height="200"><br/>
        </tr>
      </tbody>
    </table>
    <input type="button" value="Add memoria" (click)="createMemoria()">
  </div>
</div>